{% assign showExcerpt = showExcerpt | default: false %}
{% assign isNewest = isNewest | default: false %}
{% assign urlimg = "/posts" %}
{% if isNewest == false %}
<ul class="article-grid">
{% else %}
  <ul class="Newest">
  {% endif %}

  {% for post in posts limit: count offset: offset %}
  {% if isNewest == false %}
  <li class="article">
  {% else %}
  <li class="articleNewest">
  {% endif %}
    <a href="{{ post.url | url }}">
      {% if isNewest == false %}
      <div class="article-image">
      {% else %}

      <div class="article-image-newest">
      {% endif %}
      
        {% if post.data.image %}
        <img src="{{ urlimg }}{{ post.data.image }}" alt="{{ urlimg }}{{ post.data.image }}">
        {% else %}
        <img src="/posts/assets/images/default-image.png" alt="Default image">
        {% endif %}
      </div>
          {% if isNewest == false %}
          <div style="height: 0.5em;"></div>
          {% endif %}

          {% if isNewest == true %}
          
          <div class="article-content-newest">
          {% endif %}
      <h4 class="article-title">{{ post.data.title }}</h4>
      <div class="article-time">
        <time datetime="{{ post.date }}">
          {{ post.date | date : "%a, %b %d, %Y" }}
        </time>
      </div>
      <p class="article-description">{{ post.data.description }}</p>
      
      {% if showExcerpt %}
          <div style="height: 1em;"></div>
      <p class="article-content">
      {{ post.templateContent | smartExcerpt: 150 }}
      </p>
      {% endif %}
      {% if isNewest == true %}
    </div>
    {% endif%}
    </a>
    

  </li>
  {% endfor %}
</ul>

