{% assign showExcerpt = showExcerpt | default: false %}
{% assign isNewest = isNewest | default: false %}
{% assign urlimg = "/posts" %}
{% if isNewest == false %}
<ul class="article-grid">
{% else %}
  <ul class="Newest">
  {% endif %}

  {% for post in posts limit: count offset: offset %}
  {% if isNewest == false %}
  <li class="article">
  {% else %}
  <li class="articleNewest">
  {% endif %}
    <a href="{{ post.url | url }}">
      {% if isNewest == false %}
      <div class="article-image">
      {% else %}

      <div class="article-image-newest">
      {% endif %}
      
        {% if post.data.image %}
        <img src="{{ urlimg }}{{ post.data.image }}" alt="{{ urlimg }}{{ post.data.image }}">
        {% else %}
        <img src="/posts/assets/images/default-image.png" alt="Default image">
        {% endif %}
      </div>
          {% if isNewest == false %}
          <div style="height: 0.5em;"></div>
          {% endif %}

          {% if isNewest == true %}
          
          <div class="article-content-newest">
          {% endif %}
      <h4 class="article-title">{{ post.data.title }}</h4>
      <div class="article-time">
        <time datetime="{{ post.date }}">
          {{ post.date | date : "%a, %b %d, %Y" }}
        </time>
      </div>
      <p class="article-description">{{ post.data.description }}</p>
      
      {% if showExcerpt %}
          <div style="height: 1em;"></div>
      <p class="article-content">
      {{ post.templateContent | smartExcerpt: 150 }}
      </p>
      {% endif %}
      {% if isNewest == true %}
    </div>
    {% endif%}
    </a>
    

  </li>
  {% endfor %}
</ul>

<style>

  /* reset ul list style */
  ul {
    list-style: none;
  }

  /* image vuông fit */
  .article-image {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Tạo khung vuông */
    overflow: hidden;
    border-radius: 3px;
  }

  .article-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .article-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    gap: var(--space-1);
    list-style: none;
    padding: 0;
  }

  @media (max-width: 768px) {
    .article-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .Newest {
    display: flex;
    flex: 1 1 100%;
    min-width: 100%;
    min-height: var(--space-2);
    border: .2px solid var(--color-border);
    border-radius: 5px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }

    .article-image-newest {
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* Tạo khung vuông */
    overflow: hidden;
    border-radius: 3px;
    float: left;
    display: flex;
  }
  .article-image-newest img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .articleNewest {
    /*opacity: 0.2;*/
    position: relative;
    gap: var(--space-2);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }

  .article-content-newest {
    margin-left: 32%;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
  }

  .articleNewest * {
    text-decoration: none !important;
  }

 /* responsive cho newest */
 @media (max-width: 768px) {
  .articleNewest {
    display: block;
    flex-direction: column;
    height: auto;
    text-align: left;
    position: none;
  }
  
  .article-image-newest {
    display: block;
    width: 100%;
    height: 300px;
  }
  
  .article-content-newest {
    margin-left: 0;
    margin-top: var(--space-4);
    padding: 0 var(--space-2);
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    position: static;
    transform: none;
  }
}



  .article {
    /*background-image: linear-gradient(to bottom right, var(--color-post2), var(--color-post));*/
    /*opacity: 0.2;*/
    padding: var(--space-1);
    min-height: var(--space-2);
    border: .2px solid var(--color-border);
    border-radius: 5px;
    transition: all 0.3s ease;
    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.4);

  }

  .article:hover{
    color: var(--color-post);
  }



  
  .article a {
    text-decoration: unset;
    display: block;
    height: 100%;
  }
  
  .article + .article {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .article-title {
    color: var(--color-text);
    transition: color 0.2s ease-in-out;
    margin-bottom: var(--space-2);
    font-size: var(--font-size-sm);
    line-height: 1.4;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
    line-height: 1.4;
    height: calc(2 * 1.4em);
    min-height: calc(2 * 1.4em); 
  }
  
  .article:hover .article-title {
    color: var(--color-subtext);
  }

  
  
  .article-description {
    font-size: var(--font-size-xs);
    color: var(--color-text-shade);
    line-height: 1.5;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
           line-clamp: 3; 
   -webkit-box-orient: vertical;
  }
  
  .article-time {
    color: var(--color-text-shade);
    font-size: calc(var(--font-size-xs)* 0.8);
    margin-bottom: var(--space-2);
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   line-height: 1.4;
    height: calc(1 * 1.4em);
    min-height: calc(1 * 1.4em);
  }

  .article-content {
    decoration: none;
    font-size: calc(var(--font-size-xs) * 1.1);
    color: var(--color-text-shade);
    line-height: 1.5;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 4;
           line-clamp: 4; 
   -webkit-box-orient: vertical;
   
  }

  

  /* được dùng ban đầu và có thể dùng khi có nhiều bài viết, nhưng có bug layout
  .article-grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-1);
    list-style: none;
    padding: 0;
    /* ĐÃ XÓA: margin-bottom: -1.5em; */
  }
  
  .article {
    background-color: var(--color-post);
    flex: 1 1 calc(33.33% - var(--space-1));
    min-width: 100px;
    padding: var(--space-3);
    min-height: var(--space-2);
    border: .2px solid var(--color-border);
    border-radius: 0px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }

  .articleNewest {
    flex: 1 1 calc(33.33% - var(--space-1));
    min-width: 100px;
    padding: var(--space-1);
    min-height: var(--space-2);
    border: .2px solid var(--color-border);
    border-radius: 0px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }
  */
 
</style>